services:

  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  app:
    build: .                      # builds from the Dockerfile
    container_name: spring-app
    ports:
      - "8081:8080"               # direct access to app
    environment:
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_REGION=us-east-1
      # point to docker service name!
      - SPRING_CLOUD_AWS_DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      # or if using pure aws-sdk-v2:
      # - aws.dynamodb.endpoint=http://dynamodb-local:8000
    depends_on:
      - dynamodb-local
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "8080:80"                 # access the API using this
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: unless-stopped